.principal{
    overflow: hidden;
}

.header{
    background-color: #DFEBFA;
    height: 237px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
    
}

.boton-registrar{
    color: #ffff;
}

.header-botones{
    background-color: #003873;
    height: 60px;
}

.botones{
    padding-left: 80%;
    margin-left: 50px;
}

.boton-inicio {
    color: #ffff;
    position: relative;
    height: 15px;
}


/*Parte de los logos y el titulo*/
.header-logos{
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}


.logo-umss{
    width: auto;
    height: 90px;
    display: block;
    padding: 0 10% 1% 10%;
}

.logo-icpc{
    width: auto;
    height: 90px;
    float: right;
    padding-right: 15%;
    padding-bottom: 5px;
}

.titulo{
    color: #153964;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding-top: 3%;
}
/*Parte de las acciones*/
.header-acciones{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.parte-superior-menu{
    background-color: #FDBA12;
    height: 40px;
}

.titulos-menu{
    background-color:  #003873;
    height: 45px;
    margin-left: 5.9%;
    width: 88.12%;
    border-radius: 12px;
    padding-left: 20px;
    margin-top: -1.8%;
}

.botones-inicio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: -9px;
}



/*Parte del contenido*/
.content{
    background-color: #DFEBFA;
    min-height: 80vh;
    text-align: center;
}

/*Parte del pie de pagina*/
.footer{
    color: #ffff;
    text-align: center;
    background-color: #003873;
}

/*Pagina evento*/
.pagina-evento{
    color: #ffff;
}

.tabla-eventos{
    border-radius: 15px;
    background-color: #ffffff;
    height: 310px;
    max-width: 80%;
    overflow-y: auto;
    margin-left: 10%;
    margin-top: 2%;
}

.boton-crear-evento{
    margin-left: 85%;
    margin-top: 10px;
    margin-right: 10%;
}

.form-fecha-hora{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-evento{
    width: 95%;
    padding-left: 30px;
}

.ant-modal-title {
    text-align: center;
  }

/*Ver informacion del evento*/
.form-verInformacion{
    height: 350px;
    padding-left: 50px;
}
.form-info-columna1{
    width: 85%;
}
.form-info-columna2{
    width: 90%;
}
.form-info-columna3{
    text-align: center;
}
h3, p {
    display: inline-block; 
    margin: 0; 
}
h3 {
    margin-right: 5px; 
}

/*Ver formulario de editar evento*/
.form-editar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 340px;
}

.form-edit-columna1{
    width: 100%;
}

.form-edit-columna2{
    padding-left: 10%;
    width: 100%;
}

.form-edit-columna3{
    padding-left: 5%;
    text-align: center;
}


/*Pagina de inicio*/
.imagen-inicio{
    width: auto;
    height: 500px;
    padding-top: 50px;
}

/*Admiministracion despplegable*/
.menu-desplegable{
    height: 50px;
}
.boton-administracion{
    color: #ffff; 
}
