.principal{
    overflow: hidden;
}

.header{
    background-color: #DFEBFA;
    height: 237px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
}

.boton-registrar{
    color: #ffff;
}

.header-botones{
    background-color: #003873;
    height: 60px;
}

.botones{
    padding-left: 80%;
    margin-left: 50px;
}

.boton-inicio {
    color: #ffff;
    position: relative;
    height: 15px;
}
.boton-administracion{
    color: #ffff;
}
/*.activo {
    color: #89baff; 
  }*/

/*Parte de los logos y el titulo*/
.header-logos{
    background-color: #ffff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}


.logo-umss{
    width: auto;
    height: 90px;
    display: block;
    padding: 0 10% 1% 10%;
}

.logo-icpc{
    width: auto;
    height: 90px;
    float: right;
    padding-right: 15%;
    padding-bottom: 5px;
}

.titulo{
    color: #153964;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding-top: 3%;
}
/*Parte de las acciones*/
.header-acciones{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.parte-superior-menu{
    background-color: #FDBA12;
    height: 40px;
}

.titulos-menu{
    background-color:  #003873;
    height: 45px;
    margin-left: 5.9%;
    width: 88.12%;
    border-radius: 12px;
    padding-left: 20px;
    margin-top: -1.8%;
}

.botones-inicio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: -9px;
}



/*Parte del contenido*/
.content{
    background-color: #DFEBFA;
    min-height: 80vh;
    text-align: center;
}

/*Parte del pie de pagina*/
.footer{
    color: #ffff;
    text-align: center;
    background-color: #003873;
}

/*Pagina evento*/
.pagina-evento{
    color: #ffff;
}

.tabla-eventos{
    border-radius: 15px;
    background-color: #ffffff;
    height: 370px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.ant-modal-title{
    text-align: center;
}


/*Crear evento*/
.form-evento{
    width: 95%;
    padding-left: 30px;
    background-color: #ffff;
    width: 90%;
    margin: 2% 5% 5% 5%;
    padding-top: 2%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.crear-evento-columna1{
    width: 90%;
}
.crear-evento-columna2{
    width: 90%;
}
.columna-fecha-hora{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fecha-hora{
    float: left;
    width: 200px;
}
.select-tipo-evento{
    float: left;
}
.upload-imagen{
    float: left;
}
.botones-crear-evento{
    margin-top: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.boton-guardar-evento{
    margin-left: 30px;
    width: 100px;
    font-size: 15px;
    height: 35px;
}
.boton-cancelar-evento{
    width: 100px;
    font-size: 15px;
    height: 35px;
}
 
 
/* Estilo para el mensaje de error */
.ant-form-item-explain-error {
    float: left;
  }

/*Ver informacion del evento*/
.form-verInformacion{
    height: auto;
    padding-left: 20px;
}
.form-info-columna1{
    width: 85%;
}
.form-info-columna2{
    width: 90%;
}
.form-info-columna3{
    text-align: center;
}
h3, p {
    display: inline-block; 
    margin: 0; 
}
h3 {
    margin-right: 5px; 
}
.description-container {
    max-width: 100%; 
    overflow: hidden; 
  }
  
.description {
    max-width: 100%; 
    margin: 0 auto; 
}

/*Ver formulario de editar evento*/
.form-editar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 380px;
}

.form-edit-columna1{
    width: 100%;
}

.form-edit-columna2{
    padding-left: 10%;
    width: 100%;
}

.form-edit-columna3{
    padding-left: 5%;
    text-align: center;
}
.upload-editar-evento{
    padding-top: 30px;
}
.formato-fechas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formato-fechas-columna1{
    width: 170px;
}

.fecha-inicio{
    margin-left: 20px;
    width: 40px;
    margin-top: -5px;
}

/*Pagina de inicio*/
.imagen-inicio{
    width: auto;
    height: 500px;
    padding-top: 50px;
}

/*Formulario de inscripcion grupal*/
.aniadir-participante{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.boton-aniadir-participante{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.icono-aniadir{
    margin-top: -5px;
    font-size: 15px;
}
.icono-eliminar{
    margin-top: -5px;
    font-size: 15px;
    margin-right: 20px;
}
.tabla-participantes{
    width: auto;
    height: 220px;
    overflow-y: auto;
}
.buscador-participante{
    padding-top: 5px;
}

/*Parte añadir entrenador*/
.botones-entrenador{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -35px;
}
.tabla-entrenadores{
    width: auto;
    height: 220px;
    overflow-y: auto;
}


/*descripcion tabla eventos*/
.tabla-descripcion{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*descripcion tabla editar eventos*/
.tabla-descripcion-editarEv{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*descripcion tabla eliminar eventos*/
.tabla-descripcion-eliminarEv{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**/
.main-content {
    border: 2px solid #003873;
    border-radius: 4%;
    margin-left: 10%;
    margin-right: 4%;
    flex: content;
    margin-top: 2%;
    height: 400px;
    font-size: 14px;
    line-height: 700px;
    background: #ffffff;
  }
  :root {
    --primary-color: #003873;
  }

  /*Modal de resgistro individual*/
 
  .formulario-individual{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2%;
  }

  .form-individual-columna1{
    padding-right: 25px;
  }
  
  /*Modal tipo ICPC*/
  .modal-icpc{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .columna1-icpc{
    padding-right: 20px;
  }

  /*Pestaña de etapas*/
  .formEtapas{
    padding: 20px ;
    padding-bottom: 0;

  }
.etapas-hora{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.etapas-columna2{
    padding-left: 20px;
}
.reservar-hora-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.etapa-fecha{
    width: 202px;
}
.etapa-ubicacion{
    width: 320px;
}
.tabla-etapas{
    border-radius: 15px;
    background-color: #ffffff;
    height: 220px;
    width: 100%;
}
.boton_aniadir_etapa{
    margin-left: 74.7%;
}
/*Modal de las pestañas*/
.pestanias{
    padding-left: 15px;
}  
.contenido {
    display: grid;
    margin-top: -16px;
    margin-left: -18px;
} 
 /*Modal de detalles*/
 .form-ICPC{
    padding: 20px ;
    padding-bottom: 0;
 }
 .tablaICPC{
    border-radius: 15px;
    background-color: #ffffff;
    height: 220px;
    width: 480px;
 }
 .icpc-dirigido{
    width: 356px;
 }
 .form-reclutamiento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-bottom: 0;
 }
 .fecha-reclutamiento{
    width: 190px;
 }
 .columna1-reclutamiento{
    padding-right: 40px;
 }

 /*Cards*/
 .cards{
    padding: 3%;
    padding-top: 2%;
 }
 .cards-informacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .cards-columna1{
    text-align: left;
 }
  